<template>
    <div class="row justify-content-center">
        <h3>Cadastro de Alunos Inspirali</h3>
    </div>
    <div class="card-body">
        <form v-on:submit.prevent="handleSubmitForm()">
           <div class="form-group">
            <label class="m-nome">Nome:</label>
            <input type="text" id="m-nome" required placeholder="Digite seu nome"/>
            
            <label class="m-dataDeNascimento">Data de Nascimento:</label>
            <input type="date" id="m-dataDeNascimento"/>
             
            <label class="m-nomeDaMae">Nome da Mãe:</label>
            <input type="text" id="m-nomeDaMae"/>

            <label for="periodoDeIngresso">Período Ingresso:</label>
            <select id="periodoDeIngresso" name="periodoDeIngresso">
            <option value="2023.1">2023.1</option>
            <option value="2023.2">2023.2</option>
            <option value="2024.1">2024.1</option>
            <option value="2024.2">2024.2</option>
            </select>
           <button id="btnSalvar">Salvar</button>
           </div>
        </form>
    </div>
</template>

<script>
export default {
    data() {
        return {

        };
    },
};

</script>